<div>
    <h3>Nom :</h3>
    <p> {{ firstname }}</p>

    <h3>Prénom :</h3>
    <p>{{ name }}</p>

    <h3>Email :</h3>
    <p>{{ email }}</p>

    <h3>Objet:</h3>
    <p>{{ object }}</p>
</div>

<div>
    <h3>Message :</h3>
    <p>{{ content }}</p>
</div>