{% extends '@LIVApp/Default/layout.html.twig' %}

{% block description %}Liv Lyon vous propose de découvrir different lieux et événements sur l'agglomeration Lyonnaise{% endblock %}

{% block title %}Liv Lyon - Sorties et événements sur Lyon{% endblock %}

{% block body %}
    <!-- FIRST PARALLAX-->
    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 id="parallax1-title" class="header center white-text text-lighten-2"><strong>Liv'Lyon<br>Ton nouveau guide lyonnais</strong> </h1>
                <div class="row center">
                    <h5 class="header white-text col s12 light"></h5>
                </div>

                <div class="row center">
                    <a href="{{ path('liv_app_around_me') }}" id="download-button" class="btn-large waves-effect waves-red " style="background-color: #60539A;z-index: 0">Que faire ?</a>
                </div>

                <br><br>
            </div>
        </div>
        <div class="parallax"><img class="responsive-img" src="{{ asset('img/background1.jpg') }}" alt="Unsplashed background img 1"></div>
    </div>

    <!-- PRESENTATION TEXT -->
    <div class="container">
        <div class="section">

            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h4 class="center brown-text"><i class="material-icons">restaurant</i></h4>
                        <h5 class="center">Ton guide 2.0</h5>

                        <p class="light" style="text-align: justify">Et pour vivre pleinement Lyon commençons par bien manger ! Allez boire un verre ? Jamais sans nous ! On maîtrise le sujet et les bons plans: lieux atypiques, confortables, belles vues, intimes ou pour se réunir à 15… Tout y est ! Festivals, événements particuliers et soirées, on te renseigne pour te faciliter la vie ! Au milieu des rues de Lyon se cache des expos, des musées, des monuments… du contemporain au plus éloigné. Tant de choses à découvrir à Lyon, Liv’ Lyon te guide !</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h4 class="center brown-text"><i class="material-icons">location_on</i></h4>
                        <h5 class="center">European city</h5>

                        <p class="light" style="text-align: justify">
                            L’équipe de Liv ’Lyon te partage toutes ses bonnes adresses pour te faire découvrir et apprécier Lyon ! Ville active, dynamique et accueillante dans laquelle tu pourras profiter des différents quartiers et des évènements qui animent la ville. Que tu sois de passage, en quête de nouveaux lieux pour changer tes habitudes ou encore à la recherche des merveilles de Lyon, tu es au bon endroit.
                        </p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h4 class="center brown-text"><i class="material-icons">people</i></h4>
                        <h5 class="center">A la une</h5>

                        <p class="light" style="text-align: justify">Sur Liv' Lyon, tu trouveras tous les évènements culturels, festivals musicaux, foires, open-airs et autres évènements qui sortent de tes habitudes. Dans un premier temps, tu sauras tous sur le déroulement des incontournables de notre ville reconnus mondialement.
                            Ensuite, Lyon détient de multiples facettes dont une large catégorie d’évènements divers. De quoi te plonger dans l'univers lyonnais sans te noyer !</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% if sponsoredPlace is not null %}
    <!-- RECOMMANDATION -->
    <div class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container center">
                <br><br>
                <h1 id="parallax1-title" class="header center white-text text-lighten-2">Nous recommandons le <br> " {{ sponsoredPlace.name }} ".</h1>
                <div class="row center">
                    <h5 class="header white-text col s12 light center"></h5>
                </div>
                <div class="row center">
                    <a href="{{ path('show_single_place',{'slugPlace': sponsoredPlace.slug, 'slugCategory':'recommandation' }) }}" style="background-color:#60539A;z-index: 0" id="download-button" class="btn-large waves-effect waves-red  darken-4 lighten-1">Je découvre</a>
                </div>
            </div>
        </div>
        {% for image in sponsoredPlace.images %}
            {% if loop.first %}
                <div class="parallax"><img src="{{ asset('img/place/' ~ image.image ) }}" alt="{{ sponsoredPlace.name }}"></div>
            {% endif %}
        {% endfor %}

    </div>
    <!-- RECOMMANDATION DESCRIPTION-->
    <div class="container">
        <div class="section">

            <div class="row">
                <div class="col s12 center">
                    <h3><i class="mdi-content-send brown-text"></i></h3>
                    <h4>Le {{ sponsoredPlace.name }} </h4>
                    <p class="left-align light">{{ sponsoredPlace.fullDescription }}</p>
                </div>
            </div>

        </div>
    </div>

    <!-- map -->
    <div class="container" id="mapid">

    </div>
{% endif %}

    <br>
    <!-- Carroussel -->

    <div class="carousel carousel-slider center" style="height: 35em">
        <img src="/img/carousel-1.jpg" class="carousel-item responsive-img" style="max-width: 100%; height: auto">
        <img src="/img/carousel-2.jpg" class="carousel-item responsive-img" style="max-width: 100%; height: auto">
        <img src="/img/carousel-3.jpg" class="carousel-item responsive-img" style="max-width: 100%; height: auto">
    </div>
{% endblock %}

{% block js %}
    {% if sponsoredPlace is not null %}
    <script>
        var center = { latitude: {{ sponsoredPlace.latitude }} , longitude: {{ sponsoredPlace.longitude }} };
        var marker = L.marker([{{ sponsoredPlace.latitude }}, {{ sponsoredPlace.longitude }}]);
        marker.bindPopup(`
                   <div style="width:20em;text-align:center;" class="">
                        {% for image in sponsoredPlace.images %}
                            {% if loop.first %}
                                <img src="{{ asset('img/place/' ~ image.image ) }}" alt="{{ image.image }}" class='responsive-img'>
                            {% endif %}

                        {% endfor %}
                         <p class="col s12 m6" style="font-weight: bold">{{ sponsoredPlace.name }}</p>
                        <p class="col s12 m6" id="rating_tags_block">

                            {% for i in 1..5 %}
                                {% if sponsoredPlace.rating >= i %}
                                    <span class="ratingStar"> ★ </span>
                                {% else %}
                                    <span class="ratingStar"> ☆ </span>
                                {%  endif %}
                            {% endfor %}

                        </p>
                       <p class="col s12 m12" id="short_description">
                            " {{ sponsoredPlace.shortDescription }} "
                       </p>

                        <a class="btn wave-effect" href="{{ path('show_single_place',{'slugPlace': sponsoredPlace.slug, 'slugCategory': 'arroundme' }) }}" style="background-color: #60539A;text-align:center;color:white;">Voir la fiche</a>

                    </div>
                `);
        ``
        var markers = [marker];

        displayMap();
    </script>
    {% endif %}
{% endblock %}
