{% extends '@LIVApp/Default/layout.html.twig' %}

{% block description %}Liv Lyon vous propose de découvrir different lieux et événements sur l'agglomeration Lyonnaise{% endblock %}

{% block title %}Liv Lyon - Sorties et événements sur Lyon{% endblock %}

{% block body %}
    <!-- FIRST PARALLAX-->
    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 id="parallax1-title" class="header center white-text text-lighten-2">Welcome to Lyon</h1>
                <div class="row center">
                    <h5 class="header white-text col s12 light"></h5>
                </div>
                <div class="row center">
                    <a href="#" id="download-button" class="btn-large waves-effect waves-red blue darken-4 lighten-1 ">Que faire ?</a>
                </div>
                <br><br>
            </div>
        </div>
        <div class="parallax"><img src="{{ asset('img/background1.jpg') }}" alt="Unsplashed background img 1"></div>
    </div>

    <!-- PRESENTATION TEXT -->
    <div class="container">
        <div class="section">

            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h4 class="center brown-text"><i class="material-icons">flash_on</i></h4>
                        <h5 class="center">Blabla sur la magnifique ville de lyon</h5>

                        <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h4 class="center brown-text"><i class="material-icons">group</i></h4>
                        <h5 class="center">Blabla sur le but de notre tavail acharnée</h5>

                        <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h4 class="center brown-text"><i class="material-icons">settings</i></h4>
                        <h5 class="center">Blabla sur ce qu'on veux</h5>

                        <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% if sponsoredPlace is not null %}
    <!-- RECOMMANDATION -->
    <div class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container center">
                <br><br>
                <h1 id="parallax1-title" class="header center white-text text-lighten-2">On recommande le " {{ sponsoredPlace.name }} ".</h1>
                <div class="row center">
                    <h5 class="header white-text col s12 light center"></h5>
                </div>
                <div class="row center">
                    <a href="{{ path('show_single_place',{'slugPlace': sponsoredPlace.slug, 'slugCategory':'recommandation' }) }}" id="download-button" class="btn-large waves-effect waves-red blue darken-4 lighten-1">Je découvre</a>
                </div>
            </div>
        </div>
        {% for image in sponsoredPlace.images %}
            {% if loop.first %}
                <div class="parallax"><img src="{{ asset('img/place/' ~ image.imageName ) }}" alt="{{ sponsoredPlace.name }}"></div>
            {% endif %}
        {% endfor %}

    </div>
    <!-- RECOMMANDATION DESCRIPTION-->
    <div class="container">
        <div class="section">

            <div class="row">
                <div class="col s12 center">
                    <h3><i class="mdi-content-send brown-text"></i></h3>
                    <h4>Le {{ sponsoredPlace.name }} </h4>
                    <p class="left-align light">{{ sponsoredPlace.fullDescription }}</p>
                </div>
            </div>

        </div>
    </div>

    <!-- map -->
    <div class="container" id="mapid">

    </div>
{% endif %}


    <br>
    <!-- Carroussel -->

    <div class="carousel carousel-slider center">
        <img src="/img/carousel-1.jpg" class="carousel-item">
        <img src="/img/carousel-2.jpg" class="carousel-item">
        <img src="/img/carousel-3.jpg" class="carousel-item">
        <img src="/img/carousel-4.jpg" class="carousel-item">
        <img src="/img/carousel-5.jpg" class="carousel-item">
    </div>
{% endblock %}

{% block js %}
    {% if sponsoredPlace is not null %}
    <script>
        var center = { latitude: {{ sponsoredPlace.latitude }} , longitude: {{ sponsoredPlace.longitude }} };
        var marker = L.marker([{{ sponsoredPlace.latitude }}, {{ sponsoredPlace.longitude }}]);
        marker.bindPopup("<b>{{ sponsoredPlace.name }}</b>");

        var markers = [marker];

        displayMap();
    </script>
    {% endif %}
{% endblock %}