{% extends '@LIVApp/Default/layout.html.twig' %}

{% block title %}Liv Lyon - Les info {{ tag.name }}{% endblock %}
{% block description %} Liv Lyon : Les Lieux et Evénements "  {% endblock %}

{% block body %}
    <div class="container">
        <div class="row placesPresentation">
           <div class="col s12 m12"><h2 ><span  class="tagName">#{{ tag.name }}</span></h2></div>
            <div class="col s12 m6">
                <h3 class="col s12 12 ">Lieux </h3>
                {% for place in tag.places %}
                    <div class="col s12 m6">
                        <div class="card">
                            <div class="card-image">
                                {% for image in place.images %}
                                    {% if loop.first %}
                                        <img src="{{ asset('img/place/' ~ image.imageName ) }}" alt="{{ place.name }}">
                                    {% endif %}
                                {% endfor %}
                                <span class="card-title">{{ place.name }}</span>
                            </div>
                            <div class="card-content">
                                <p>
                                    {{ place.shortDescription }}
                                </p>
                            </div>
                            <div class="card-action">
                                <a href="{{ path('show_single_places',{'slugPlace': place.slug, 'slugCategory':'common'}) }}" style="color: #ec311d">Je decouvre</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="col s12 m6">
                <h3 class="col s12 12">Evenements</h3>
                {% for place in tag.places %}
                    <div class="col s12 m6">
                        <div class="card">
                            <div class="card-image">
                                {% for image in place.images %}
                                    {% if loop.first %}
                                        <img src="{{ asset('img/place/' ~ image.imageName ) }}" alt="{{ place.name }}">
                                    {% endif %}
                                {% endfor %}
                                <span class="card-title">{{ place.name }}</span>
                            </div>
                            <div class="card-content">
                                <p>
                                    {{ place.shortDescription }}
                                </p>
                            </div>
                            <div class="card-action">
                                <a href="{{ path('show_single_places',{'slugPlace': place.slug, 'slugCategory':'common'}) }}" style="color: #ec311d">Je decouvre</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}