{% extends '@LIVApp/Default/layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row placesPresentation">
            <div class="col s12 m12">
                {% for place in category.places %}
                    <div class="col s6 m4">
                        <div class="card">
                            <div class="card-image">
                                {% for image in place.images %}
                                    {% if loop.first %}
                                        <img src="{{ asset('img/place/' ~ image.imageName ) }}" alt="{{ image.imageName }}">
                                    {% endif %}
                                {% endfor %}
                                <span class="card-title">{{ place.name }}</span>
                            </div>
                            <div class="card-content">
                                <p>
                                    {{ place.shortDescription }}
                                </p>
                            </div>
                            <div class="card-action">
                                <a href="{{ path('show_single_places',{'slugPlace': place.slug, 'slugCategory':category.slug }) }}">Je decouvre</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}